@import 'setup';

body {
    background: darken(#faf9fa, 5);
    font-family: 'Ubuntu', sans-serif;
}

.content {
    padding-top: 25px;
}

.header {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
    border: 3px solid #4b367c;
    background: #faf9fa;
    padding: 15px;
    color: #4b367c;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__changer select {
        margin-top: 12px;
        width: 100%;
        padding: 10px;
        border: 1px solid #4b367c;
        background: lighten(#6340a6, 40);
        color: #4b367c;
    }
}

.streamWrapper {
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    max-width: 1280px;

    .streamer {
        display: grid;
        margin-bottom: 15px;
        grid-template-columns: 1fr 2fr;
        border: 2px solid #4b367c;
        background: #faf9fa;
        padding: 15px;
        transition: 0.5s;
        
        img {
            width: 100%;
        }

        &__description {
            padding-left: 15px;
            padding-top: 12px;
        }

        .no-one-streaming {
            grid-column: 1 / span 2;
        }
    }
}

a {
    text-decoration: none;
    color: #4b367c;

    &:hover {
        .streamer {
            background: lighten(#6340a6, 40);
            border: 2px solid #6340a6;
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        }
        transition: 0.5s;
    }

    &#close {
        color: darken(#faf9fa, 5);
    }
}

.paragraph {
    &--large {
        font-size: 30px;

        &--center {
            @extend .paragraph--large;
            text-align: center;
            color: #4b367c;
        }
    }
}

.video-container {
    z-index: 10;
    position: absolute;
    top: 5vh;
    left: 5%;
    width: 90%;
    height: 90vh;
    background: darken(#6340a6, 20);

    #twitch-embed {
        width: 90%;
        height: auto;
        margin: 3.5% auto;
    }
}

#close-button {
    display: inline-block;
    font-size: 30px;
    position: absolute;
    top: 0.5%;
    right: 2%;
}

@media (max-width: 600px) {
    .streamWrapper {
        width: 95%;
        margin-top: 25px;
        
        .streamer {
            grid-template-columns: 1fr;
        }
    }

    .header {
        width: 95%;
        grid-template-columns: 2fr 3fr;

        &__changer select {
            margin-left: 5px;
            padding: 5px;
            font-size: 12px;
        }
    }

    h1 {
        font-size: 14px;
    }

    .paragraph {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 10px;

        &--large {
            font-size: 15px;
        }
    }
}